(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("at_memory_card_tb.ghw"),
        format: Ghw,
        active_scope: Some(WaveScope((
            strs: [
                "at_memory_card_tb",
                "at_memory_card_sim",
            ],
            id: Wellen((5)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (36),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (56),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (63),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (64),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (37),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (33),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (62),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "isa_ps",
                    id: Wellen((28)),
                ),
                color: None,
                background_color: None,
                display_name: "isa_ps",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "sa",
                    id: Wellen((1)),
                ),
                color: None,
                background_color: None,
                display_name: "sa [19:1]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Hexadecimal"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                            "at_memory_card_sim",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "ram_cs_h_n",
                    id: Wellen((43)),
                ),
                color: None,
                background_color: None,
                display_name: "ram_cs_h_n [15:1]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "a_cnt",
                    id: Wellen((4)),
                ),
                color: None,
                background_color: None,
                display_name: "a_cnt [23:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "ale",
                    id: Wellen((9)),
                ),
                color: None,
                background_color: None,
                display_name: "ale",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "cpu_clk",
                    id: Wellen((24)),
                ),
                color: None,
                background_color: None,
                display_name: "cpu_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                            "at_memory_card_sim",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "card_cs",
                    id: Wellen((48)),
                ),
                color: None,
                background_color: None,
                display_name: "card_cs",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (33): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                            "at_memory_card_sim",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "md_dir",
                    id: Wellen((41)),
                ),
                color: None,
                background_color: None,
                display_name: "md_dir",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "memr_n",
                    id: Wellen((10)),
                ),
                color: None,
                background_color: None,
                display_name: "memr_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "la",
                    id: Wellen((3)),
                ),
                color: None,
                background_color: None,
                display_name: "la [23:17]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Hexadecimal"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (64): Marker((
                color: None,
                background_color: None,
                name: None,
                idx: 1,
            )),
            (36): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "rw_cycle",
                    id: Wellen((26)),
                ),
                color: None,
                background_color: None,
                display_name: "rw_cycle",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (37): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "memw_n",
                    id: Wellen((11)),
                ),
                color: None,
                background_color: None,
                display_name: "memw_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                            "at_memory_card_sim",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "ram_cs",
                    id: Wellen((47)),
                ),
                color: None,
                background_color: None,
                display_name: "ram_cs [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                            "at_memory_card_sim",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "ram_cs_l_n",
                    id: Wellen((42)),
                ),
                color: None,
                background_color: None,
                display_name: "ram_cs_l_n [15:1]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "clk",
                    id: Wellen((23)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "xms_only_n",
                    id: Wellen((16)),
                ),
                color: None,
                background_color: None,
                display_name: "xms_only_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (62): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                            "at_memory_card_sim",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "mem_cs_16_n",
                    id: Wellen((44)),
                ),
                color: None,
                background_color: None,
                display_name: "mem_cs_16_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (63): Marker((
                color: None,
                background_color: None,
                name: None,
                idx: 0,
            )),
            (56): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "data",
                    id: Wellen((8)),
                ),
                color: None,
                background_color: None,
                display_name: "data [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 64,
        viewports: [
            (
                curr_left: (0.34702256403284104),
                curr_right: (0.34743621664033086),
                target_left: (0.3057474755638969),
                target_right: (0.6671499431798166),
                move_start_left: (0.3057474755638969),
                move_start_right: (0.6671499431798166),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            1942133184,
            371,
        ])),
        markers: {
            1: (1, [
                2567133184,
                371,
            ]),
            0: (1, [
                1817133184,
                371,
            ]),
        },
        focused_item: Some((19)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (26),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: MilliSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(191.21875),
    ui_zoom_factor: None,
)