(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("at_memory_card_tb.ghw"),
        format: Ghw,
        active_scope: None,
        items_tree: (
            items: [
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "led_ram_cs_n",
                    id: Wellen((16)),
                ),
                color: None,
                background_color: None,
                display_name: "led_ram_cs_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "memw_n",
                    id: Wellen((5)),
                ),
                color: None,
                background_color: None,
                display_name: "memw_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "md_dir",
                    id: Wellen((12)),
                ),
                color: None,
                background_color: None,
                display_name: "md_dir",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "led_rom_cs_n",
                    id: Wellen((17)),
                ),
                color: None,
                background_color: None,
                display_name: "led_rom_cs_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "mem_cs_16_n",
                    id: Wellen((15)),
                ),
                color: None,
                background_color: None,
                display_name: "mem_cs_16_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "ram_cs_h_n",
                    id: Wellen((14)),
                ),
                color: None,
                background_color: None,
                display_name: "ram_cs_h_n [15:1]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "data",
                    id: Wellen((2)),
                ),
                color: None,
                background_color: None,
                display_name: "data [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "ale",
                    id: Wellen((3)),
                ),
                color: None,
                background_color: None,
                display_name: "ale",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "memr_n",
                    id: Wellen((4)),
                ),
                color: None,
                background_color: None,
                display_name: "memr_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "reset",
                    id: Wellen((21)),
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "sa0",
                    id: Wellen((7)),
                ),
                color: None,
                background_color: None,
                display_name: "sa0",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "umbd_n",
                    id: Wellen((9)),
                ),
                color: None,
                background_color: None,
                display_name: "umbd_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "xms_only_n",
                    id: Wellen((11)),
                ),
                color: None,
                background_color: None,
                display_name: "xms_only_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "cpu_clk",
                    id: Wellen((19)),
                ),
                color: None,
                background_color: None,
                display_name: "cpu_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "sbhe_n",
                    id: Wellen((8)),
                ),
                color: None,
                background_color: None,
                display_name: "sbhe_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "clk",
                    id: Wellen((18)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "a",
                    id: Wellen((1)),
                ),
                color: None,
                background_color: None,
                display_name: "a [23:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "refresh_n",
                    id: Wellen((6)),
                ),
                color: None,
                background_color: None,
                display_name: "refresh_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "umbe_n",
                    id: Wellen((10)),
                ),
                color: None,
                background_color: None,
                display_name: "umbe_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "cpu_clk_no",
                    id: Wellen((20)),
                ),
                color: None,
                background_color: None,
                display_name: "cpu_clk_no",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "at_memory_card_tb",
                        ],
                        id: Wellen((4)),
                    ),
                    name: "ram_cs_l_n",
                    id: Wellen((13)),
                ),
                color: None,
                background_color: None,
                display_name: "ram_cs_l_n [15:1]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 21,
        viewports: [
            (
                curr_left: (-0.004116493973968091),
                curr_right: (0.12514745486842588),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            368020101,
        ])),
        markers: {},
        focused_item: Some((3)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: FemtoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)